html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 20px 5px;
  padding: 5px;
}

.account-card {
  width: 400px;
  margin: 15px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-card div {
  padding: 7px;
}

.account-title {
  font-size: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 400px;
}

.credit {
  color: green;
}

.debit {
  color: red;
}
